/*reset*/
@import url("reset.css");

/*common*/
@font-face { font-family: "cjone title";
    src: url("../font/CJ_ONLYONE_NEW_title_Medium.woff");} 
@font-face { font-family: "nanum";
    src: url("../font/nanumbarungothicregular.woff");} 

a {text-decoration: none; color: #000;}
body {font-family: "nanum"; font-size: 16px;}
span.line {
position: absolute;
top: 20px;
width: 1px;
    height: 151px;
    background-color: #ddd;}


/* 레이아웃 */
header {height: 121px;}
.header_wrap {position: absolute; width: 100%; height: 121px; background: #222222;}
.header_wrap.on {height: 455px;}
.header_inner {position: relative; width: 1062px; height: 121px; margin: 0 auto;}
section {}

#container {width: 100%;  box-sizing: border-box;}
.content1 {width: 1060px; height: 232px; margin: 0 auto; box-sizing: border-box; padding-top: 10px;}
.content2 {background: url(../images/bg_hotcontent.png) no-repeat 0 0; background-size: cover;}
.content2 .content2_inner {position: relative; width: 1052px; margin: 0 auto; border: 1px solid red;}
footer {border: 1px solid blue;}
article {position: relative; width: 450px; height: 650px; background: #fff;}
article>a>p{}
article>a>div.info{width: 450px;height: 200px;background: red;}
article>div.detail{position: absolute; left: 0; top: 100%;
                    width: 100%; height: 100%; background: blue;
                    transition: top 400ms cubic-bezier(0.770, 0.000, 0.175, 1.000);}
article:hover>div.detail{top: 0;}


/*헤더*/
header>.header_wrap {}
header>.header_inner {}

/*탑메뉴*/
dl.topMenu {float: right; padding-top: 18px;}
dl.topMenu a {color: #9f9f9f;
            font-size: 12px;
            line-height: 12px;}
dl.topMenu a:hover {color: #fff;}


dl.topMenu dd {float: left; margin-right: 35px;}
dl.topMenu dd:last-of-type {margin-right: 0;}
dl.topMenu dd ul {display: none;}

/*로고*/
h1.logo {position: absolute; top: 61px;}

/*주메뉴*/
nav.gnb {padding: 70px 0 0 227px;}
nav.gnb a {color: #fff;}
nav.gnb>ul>li {float: left; margin-right: 60px;}
nav.gnb>ul>li:last-of-type {margin-right: 0;}
nav.gnb>ul>li>a {font-size: 16px;}
nav.gnb>ul>li>ul {display: none;}
nav.gnb>ul>li>ul{ position: absolute; top: 130px; line-height: 2.5; font-size: 14px;}
.header_wrap.on nav.gnb>ul>li>ul {display: block;}




/*인포*/
/*검색서식열기*/
.srch_open {text-indent: -9999px; overflow: hidden;
            width: 24px; height: 24px;
            background: url(../images/btn_gnb_search.png) no-repeat 0 0;
            position: absolute; top: 69px; right: 100px;
            cursor: pointer;
        }

/*검색서식*/
form.srch {display: none;}

/*login btn*/
p.login{position: absolute; right: 0px; top: 40px;
        width: 72px; height: 56px;}

a.appear {z-index: 10; position: absolute; left: 0; top: 0;}
a.loop {position: absolute; left: 0; top: 0;}
.appear img {position: absolute; left: 0; top: 0; opacity: 0;}
.loop img {position: absolute; left: 0; top: 0; opacity: 0;}

/*애니메이션*/
@keyframes ani {
    0%{opacity: 1;}
    50%{opacity: 0;}
}

/*퀵메뉴*/
.q dl {text-align: center; position: relative; top: 130px;}
.q dl dt {color: #222;}
.q dl dd {font-size: 14px; color: #555;}

.quick1{position: relative; width: 140px; height: 121px;}
.quick1 img{position: absolute; top: 0; left: 52px; opacity: 0;}
.quick1 img:first-of-type {opacity: 1;}

.quick2{position: relative; width: 140px; height: 121px;}
.quick2 img{position: absolute; top: 0; left: 80px; opacity: 0;}
.quick2 img:first-of-type {opacity: 1;}

.quick3{position: relative; width: 140px; height: 121px;}
.quick3 img{position: absolute; top: 0; left: 52px; opacity: 0;}
.quick3 img:first-of-type {opacity: 1;}

.quick4{position: relative; width: 140px; height: 121px;}
.quick4 img{position: absolute; top: 0; left: 52px; opacity: 0;}
.quick4 img:first-of-type {opacity: 1;}


/*프로모션 배너*/
.banner_frame{position: relative; left: 0; width: 300%;}
.banner_frame>section{float: left; width: 100%; height: 550px; background: #eee;}
.banner_frame>section:first-of-type{background: url(../images/banner1.jpg) no-repeat 50% 0;}
.banner_frame>section:nth-of-type(2){background: url(../images/banner2.jpg) no-repeat 50% 0;}
.banner_frame>section:nth-of-type(3){background: url(../images/banner3.jpg) no-repeat 50% 0;}

.banner_frame>section>div{width: 700px; margin: 100px auto 0;}
.banner_frame>section.white{color: #fff;}
.banner_frame>section.white a.more{color: #fff; border: 1px solid #fff;}
.banner_frame>section>div>h4{padding: 15px 0 20px; font-size: 40px; line-height: 48px; 
    letter-spacing: 0; font-family: cj_onluone_medium;}
.banner_frame>section>div>ul{font-size: 16px; line-height: 26px;}
.banner_frame>section>div a.more{display: block; width: 158px; height: 38px; line-height: 38px; margin-top: 40px;
    border: 1px solid #000; border-radius: 3px; text-align: center; 
    font-size: 14px; color: #000; transition: all 400ms linear 0s;}
.banner_frame>section>div a.more:hover{border-color: transparent; background: rgba(255,255,255,0.3);}

/*배너 화살표*/
.arrow a{display: none;}

/*배너 롤링*/
.rolling{position: absolute; left: 50%; bottom: 30px; transform: translateX(-50%); z-index: 30;}
.rolling:after{content: ""; display: block; clear: both;}
.rolling p, .rolling ul{float: left;}
.banner_roll li{display: inline-block; line-height: 30px;}
.banner_roll li a{display: block; width: 22px; height: 30px; text-indent: -9999px; overflow: hidden; 
    background: url(../images/btn_banner_black.png) no-repeat -132px 0;}
.banner_roll li a.on{background-position: -132px -30px;}

/*재생/멈춤*/
.rolling p>a{display: inline-block; height: 30px; width: 30px; text-indent: -9999px; overflow: hidden;
    background: url(../images/btn_banner_black.png) no-repeat -102px -30px;}
.rolling p>a.pause{background-position: -102px 0;}

/*하얀색 공통*/
body>section a.wbtn{background-image: url(../images/btn_banner.png);}

/*컨테이너*/
/*컨텐트1*/
/*퀵*/
.content1 ul {width: 100%;}
.content1 ul li {position: relative;}
.content1 li a{display: block; float: left; width: 269px; margin-right: 0px;}
.content1 li:first-child a {width: 260px;}
.content1 li:last-child a {margin-right:0; width: 259px;}


/*컨텐트2*/
.content2_inner {}
.content2_inner article {position: relative; overflow: hidden;  }
.content2_inner article h3 > img {width: 70px;}
.content2_inner h2 {font-size: 34px; color: #222; text-align: center;
                    padding: 35px 0;}

.content2_inner article a > div {box-sizing: border-box;}

/* 아티클 1 */
.content2_inner article:nth-of-type(1) {display: block; width: 501px;}
.content2_inner article:nth-of-type(1) a > .hot_img img {width: 501px; height: 500px;}
.content2_inner article:nth-of-type(1) a > div {height: 400px; background: #fff;
                                                padding-top: 60px; text-align: center;
                                                }
.content2_inner article:nth-of-type(1) .detail {width: 100%; height: 900px; 
                                                position: absolute; top: 900px;
                                                text-align: center;
                                                padding-top: 200px;
                                    background: #fff; transition: all 0.2s ease 0s;}
.content2_inner article:nth-of-type(1) p.title {padding-bottom: 15px;}
.content2_inner article:nth-of-type(1).on .detail {top: 0px;}

/* 아티클 2 */
.content2_inner article:nth-of-type(2) {position: absolute; top: 150px; right: 0px; display: block; width: 501px; height: 221px; }
.content2_inner article:nth-of-type(2) a > .hot_img img {position: absolute; width: 220px; height: 221px;  top: 0; right: -501px;}
.content2_inner article:nth-of-type(2) a {position: relative;}
.content2_inner article:nth-of-type(2) a > div {position: absolute;
                                                width: 281px; height: 221px; background: #fff;
                                                padding-top: 70px; text-align: center;}
.content2_inner article:nth-of-type(2) .detail {width: 501px; height: 221px; 
                                            position: absolute; left: -900px; top: 0px;
                                            text-align: center;
                                            padding-top: 50px;
                                        background: #fff; transition: all 0.2s ease 0s;}
.content2_inner article:nth-of-type(2) p.title {padding-bottom: 15px;}
.content2_inner article:nth-of-type(2).on .detail {left: 0;}

/* 아티클 3 */
.content2_inner article:nth-of-type(3) {display: block; width: 501px;}
.content2_inner article:nth-of-type(3) a > .hot_img img {width: 501px; height: 500px;}
.content2_inner article:nth-of-type(3) a > div {height: 400px; background: #fff;
                                                padding-top: 60px; text-align: center;
                                                }
.content2_inner article:nth-of-type(3) .detail {width: 100%; height: 900px; 
                                                position: absolute; top: 900px;
                                                text-align: center;
                                                padding-top: 200px;
                                    background: #fff; transition: all 0.2s ease 0s;}
.content2_inner article:nth-of-type(3) p.title {padding-bottom: 15px;}
.content2_inner article:nth-of-type(3).on .detail {top: 0px;}

/* 아티클 4 */
.content2_inner article:nth-of-type(4) {display: block; width: 501px;}
.content2_inner article:nth-of-type(4) a > .hot_img img {width: 501px; height: 500px;}
.content2_inner article:nth-of-type(4) a > div {height: 400px; background: #fff;
                                                padding-top: 60px; text-align: center;
                                                }
.content2_inner article:nth-of-type(4) .detail {width: 100%; height: 900px; 
                                                position: absolute; top: 900px;
                                                text-align: center;
                                                padding-top: 200px;
                                    background: #fff; transition: all 0.2s ease 0s;}
.content2_inner article:nth-of-type(4) p.title {padding-bottom: 15px;}
.content2_inner article:nth-of-type(4).on .detail {top: 0px;}

/* 아티클 5 */
.content2_inner article:nth-of-type(5) {display: block; width: 501px;}
.content2_inner article:nth-of-type(5) a > .hot_img img {width: 501px; height: 500px;}
.content2_inner article:nth-of-type(5) a > div {height: 400px; background: #fff;
                                                padding-top: 60px; text-align: center;
                                                }
.content2_inner article:nth-of-type(5) .detail {width: 100%; height: 900px; 
                                                position: absolute; top: 900px;
                                                text-align: center;
                                                padding-top: 200px;
                                    background: #fff; transition: all 0.2s ease 0s;}
.content2_inner article:nth-of-type(5) p.title {padding-bottom: 15px;}
.content2_inner article:nth-of-type(5).on .detail {top: 0px;}

/* 아티클 6 */
.content2_inner article:nth-of-type(6) {display: block; width: 501px;}
.content2_inner article:nth-of-type(6) a > .hot_img img {width: 501px; height: 500px;}
.content2_inner article:nth-of-type(6) a > div {height: 400px; background: #fff;
                                                padding-top: 60px; text-align: center;
                                                }
.content2_inner article:nth-of-type(6) .detail {width: 100%; height: 900px; 
                                                position: absolute; top: 900px;
                                                text-align: center;
                                                padding-top: 200px;
                                    background: #fff; transition: all 0.2s ease 0s;}
.content2_inner article:nth-of-type(6) p.title {padding-bottom: 15px;}
.content2_inner article:nth-of-type(6).on .detail {top: 0px;}

/* 아티클 7 */
.content2_inner article:nth-of-type(7) {display: block; width: 501px;}
.content2_inner article:nth-of-type(7) a > .hot_img img {width: 501px; height: 500px;}
.content2_inner article:nth-of-type(7) a > div {height: 400px; background: #fff;
                                                padding-top: 60px; text-align: center;
                                                }
.content2_inner article:nth-of-type(7) .detail {width: 100%; height: 900px; 
                                                position: absolute; top: 900px;
                                                text-align: center;
                                                padding-top: 200px;
                                    background: #fff; transition: all 0.2s ease 0s;}
.content2_inner article:nth-of-type(7) p.title {padding-bottom: 15px;}
.content2_inner article:nth-of-type(7).on .detail {top: 0px;}

/* 아티클 8 */
.content2_inner article:nth-of-type(8) {display: block; width: 501px;}
.content2_inner article:nth-of-type(8) a > .hot_img img {width: 501px; height: 500px;}
.content2_inner article:nth-of-type(8) a > div {height: 400px; background: #fff;
                                                padding-top: 60px; text-align: center;
                                                }
.content2_inner article:nth-of-type(8) .detail {width: 100%; height: 900px; 
                                                position: absolute; top: 900px;
                                                text-align: center;
                                                padding-top: 200px;
                                    background: #fff; transition: all 0.2s ease 0s;}
.content2_inner article:nth-of-type(8) p.title {padding-bottom: 15px;}
.content2_inner article:nth-of-type(8).on .detail {top: 0px;}

/* 아티클 9 */
.content2_inner article:nth-of-type(9) {display: block; width: 501px;}
.content2_inner article:nth-of-type(9) a > .hot_img img {width: 501px; height: 500px;}
.content2_inner article:nth-of-type(9) a > div {height: 400px; background: #fff;
                                                padding-top: 60px; text-align: center;
                                                }
.content2_inner article:nth-of-type(9) .detail {width: 100%; height: 900px; 
                                                position: absolute; top: 900px;
                                                text-align: center;
                                                padding-top: 200px;
                                    background: #fff; transition: all 0.2s ease 0s;}
.content2_inner article:nth-of-type(9) p.title {padding-bottom: 15px;}
.content2_inner article:nth-of-type(9).on .detail {top: 0px;}

/* 아티클 10 */
.content2_inner article:nth-of-type(10) {display: block; width: 501px;}
.content2_inner article:nth-of-type(10) a > .hot_img img {width: 501px; height: 500px;}
.content2_inner article:nth-of-type(10) a > div {height: 400px; background: #fff;
                                                padding-top: 60px; text-align: center;
                                                }
.content2_inner article:nth-of-type(10) .detail {width: 100%; height: 900px; 
                                                position: absolute; top: 900px;
                                                text-align: center;
                                                padding-top: 200px;
                                    background: #fff; transition: all 0.2s ease 0s;}
.content2_inner article:nth-of-type(10) p.title {padding-bottom: 15px;}
.content2_inner article:nth-of-type(10).on .detail {top: 0px;}

/* 아티클 11 */
.content2_inner article:nth-of-type(11) {display: block; width: 501px;}
.content2_inner article:nth-of-type(11) a > .hot_img img {width: 501px; height: 500px;}
.content2_inner article:nth-of-type(11) a > div {height: 400px; background: #fff;
                                                padding-top: 60px; text-align: center;
                                                }
.content2_inner article:nth-of-type(11) .detail {width: 100%; height: 900px; 
                                                position: absolute; top: 900px;
                                                text-align: center;
                                                padding-top: 200px;
                                    background: #fff; transition: all 0.2s ease 0s;}
.content2_inner article:nth-of-type(11) p.title {padding-bottom: 15px;}
.content2_inner article:nth-of-type(11).on .detail {top: 0px;}

/* 아티클 12 */
.content2_inner article:nth-of-type(12) {display: block; width: 501px;}
.content2_inner article:nth-of-type(12) a > .hot_img img {width: 501px; height: 500px;}
.content2_inner article:nth-of-type(12) a > div {height: 400px; background: #fff;
                                                padding-top: 60px; text-align: center;
                                                }
.content2_inner article:nth-of-type(12) .detail {width: 100%; height: 900px; 
                                                position: absolute; top: 900px;
                                                text-align: center;
                                                padding-top: 200px;
                                    background: #fff; transition: all 0.2s ease 0s;}
.content2_inner article:nth-of-type(12) p.title {padding-bottom: 15px;}
.content2_inner article:nth-of-type(12).on .detail {top: 0px;}





/*dn*/
.content3, footer,
.content2_inner article:nth-of-type(3),
.content2_inner article:nth-of-type(4),
.content2_inner article:nth-of-type(5),
.content2_inner article:nth-of-type(6),
.content2_inner article:nth-of-type(7),
.content2_inner article:nth-of-type(8),
.content2_inner article:nth-of-type(9),
.content2_inner article:nth-of-type(10),
.content2_inner article:nth-of-type(11),
.content2_inner article:nth-of-type(12),
.content2_inner article:nth-of-type(13)
 {display: none;}